<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silabs.bgxcommander">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_bgx"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".accounts.BusModeAuthenticationService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/busmode_authenticator" />
        </service>

        <service
            android:name=".accounts.OtaAuthenticationService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/ota_authenticator" />
        </service>

        <activity android:name=".activities.PasswordActivity" />

        <activity
            android:name=".activities.FirmwareReleaseNotesActivity"
            android:label="@string/title_activity_firmware_release_notes"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.DeviceListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DeviceDetailsActivity"
            android:label="@string/title_activity_device_details" />

        <activity android:name=".activities.IndeterminateProgressActivity" />

        <activity android:name=".activities.FirmwareUpdateActivity" />

    </application>
</manifest>